/* Use Alternate to box model, so specified sized includes border and padding */
* {
	/* -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box; get from autoprefixer? */
	box-sizing: border-box;
}

.markdown-body h1 {
	margin-top: 0px;
}

.markdown-body > h1:first-child {
	display: none;
}

.anchor {
    padding: 0 1em 0 2em;
    background-color: grey;
}

/* attempt to implement simple slide show with just css and markdown.  Well, markdown with embedded html */
.slides+ul {
	list-style-type: none;
	padding: 0;
}

.slides+ul img {
	width: 100%;
}
